.gallery {
  text-align:center;
  .banner {
    position:relative;
    h1 { position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); background:#fff; padding:20px; }
  }
}
.gallery-container { padding-right:5px; } /* Padding is included in last image */
.gallery-container {
  a {
    -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-touch-callout:none;
    // display:block; float:left; line-height:0;
    // margin:0 10px 10px 0;
    // &:first-child { margin-left:0; }
  }
  // img { max-width:100%; width:auto; height:auto; }
}