.cycle-slideshow p { font-weight:400; }
#banner {
  background:image_url('chrome-background.jpg'); background-size:cover; position:relative; box-shadow:1px 1px 20px;
  min-height:400px; padding-top:75px;
  .text {
    @include make-sm-column(7);
    // @media (min-width:$screen-sm-min) {
    //   padding-top:100px;
    // }
    h2 { text-shadow: 0 1px 0 #fff; color: #606164; }
  }
  .image { position:relative; overflow:hidden; }
  img {
    margin-right:-$grid-gutter-width/2; float:right;
    &.superhero { position:absolute; top:0px; right:0; transform:translate(400%, 0); transition:all 1s; }
  }

  @media (min-width:$screen-sm-min) {
    padding-top:50px;
    .image { position:absolute; top:30px; right:0; }
    img, img.superhero { margin:0; }
  }
  &.in-view img.superhero { transform:translate(0,0); }
}
#who-we-are,
#services,
#testimonials,
#suppliers,
#contact {
  @extend .padded; text-align:center;
  h2 { margin-top:0; margin-bottom:1em; }
}

#who-we-are {
  text-align:left;
  h2 { text-align:center; }
  .signature { height:39px; margin:10px 0; }
}

#services {
  background:$siderman-grey; text-align:center;
  @media (min-width:$screen-sm-min) {
    .service-item { @include domino-from-left(); }
  }
  .in-view .service-item { @include complete-translate-animation(); }
  .service-item { @extend .col-xs-6; @extend .col-sm-3; padding-top:$grid-gutter-width/2; padding-bottom:$grid-gutter-width/2; }
  @media (min-width:$screen-sm-min) {
    .siding .service-item:first-child { margin-left:12.5%;  }
    .aluminum .service-item:first-child { margin-left:25%; }
  }
  .image-wrapper {
    overflow:hidden; display:block; margin-bottom:10px;
    img { transition:transform 0.2s; }
    &:hover img { transform:scale(1.05); }
  }

}

#testimonials { background:$siderman-grey; }

#suppliers {
  .logos a { display:inline-block; margin:10px 20px; }
  .logos img { max-height:70px; }
}

#contact {
  form {
    max-width:500px; margin:auto;
  }
}