.align-right { text-align:right; }
@media (max-width: $screen-sm-max) {
 .align-center-sm { text-align:center; }
}

#body,
#home { font-size:24px; }

body,
#body,
#home,
#site-footer {
  > section {
    padding:30px 0;
    &.intro-section { font-size:24px; line-height:1.5; }
    &.large-spacing { padding:50px 0; }
    &.black { background:$siderman-black; color:white; }
    &.gray { background:$siderman-gray; }
  }
}

a, a:hover { color:inherit; }
a { font-weight:bold; }

#featured_image img { width:100%; }

.modal {
  .modal-content { border:5px solid $siderman-black; font-size:21px; }
  .modal-header,
  .modal-footer { border-color:$siderman-black; }
}

.email-message { position:absolute; top:100%; right:0; margin:15px 10px; border-radius:3px; background:#fff; border-color:$siderman-red; color:$siderman-red; }