// $navbar-height: 50px;
body { padding-top:0; }

h1,h2,h3,h4,p { &:first-child { margin-top:0; } }
.align-right { text-align:right; }
.align-center { text-align:center; }
@media (max-width: $screen-sm-max) {
 .align-center-sm { text-align:center; }
 .align-right { text-align:center; }
}

section.padded { padding:75px 0; }
img { max-width:100%; }

#body,
#home {
  // font-size:18px;
  // h1 { font-size:27px; }
  // h2 { font-size:22.5px; }
  // h3 { font-size:18px; }
  // @media (min-width: $screen-md-min) {
  //   font-size:20px;
  //   h1 { font-size:30px; }
  //   h2 { font-size:25px; }
  //   h3 { font-size:20px; }
  // }
}

a, a:hover { color:inherit; }
a { font-weight:bold; }

#featured_image img { width:100%; }

.modal {
  .modal-content { border-radius:$border-radius-small; }
}

.email-message { position:absolute; top:100%; right:0; margin:15px 10px; border-radius:3px; background:#fff; border-color:$siderman-red; color:$siderman-red; }

.banner {
  position:relative;
  h1 { position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); background:#fff; padding:20px; }
}

#banner, .banner { padding-top:50px; }