.cycle-slideshow {
  z-index:0; // So that menu items appear on top
  .slide {
    position:relative;
    img {display: block; min-width:0; max-width:100%; }
    .overlay {
      position:absolute; top:150px; width:100%;
      .text {
        padding:25px 42px 0 0; width:452px;
        p { margin: 0.5em 0; }
        a { color:white; }
      }
    }
  }
}
.pager {
  bottom:45px; position:absolute; z-index:1000; width:100%; text-align:left;
  .cycle-pager {
    span {
      overflow: hidden; text-indent: 100%; white-space: nowrap; cursor:pointer; opacity:0.5;
      display:inline-block;
      margin-right:7px;
      height:15px; width:15px;
      background:#fff;
      border:2px solid white;
      border-radius:10px;
      &:hover { opacity:1; }
      &.cycle-pager-active { background-color:$siderman-red; border-color:$siderman-red; opacity:1; }
    }
  }
}

.testimonials {
  .cycle-slide { top:50% !important; transform:translateY(-50%); }
}