<footer id="site-footer">
  <section class="black">
    <div class="container">
      <!-- <div class="social-links">
        <a href="#" class="twitter"></a>
        <a href="#" class="facebook"></a>
        <a href="#" class="instagram"></a>
        <a href="#" class="youtube"></a>
      </div> -->
      <div class="row">
        <div class="col-md-6">
          <h3>Contact Us</h3>
          <p>Want to increase the value of your house?</p>
          <p>Sign up here for a free quote:</p>
          <%= partial "contact_form" %>
        </div>
        <div class="col-md-6">
          <h3>Our Location</h3>
          <p>Please contact us to book your appointment.</p>
          <p>
            <a href="tel:519-400-1953"><i class="glyphicon glyphicon-earphone"></i> 519-400-1953</a>
          </p>
          <p><%= image_tag 'logo.jpg' %></p>
        </div>
      </div>
    </div>
  </section>
</footer>

<section>
  <div class="container">
    <p style="text-align:center; margin-bottom:0;">&copy; 2015 Siderman Vinyl. All Rights Reserved.</p>
  </div>
</section>