<!-- siderman08@gmail.com -->
<form action="http://formspree.io/d.robinson004@gmail.com" method="POST">
  <input type="text" placeholder="FIRST NAME" name="first_name" />
  <input type="text" placeholder="LAST NAME" name="last_name" />
  <input type="email" placeholder="EMAIL ADDRESS" name="email" />
  <textarea placeholder="MESSAGE" name="message"></textarea>
  <input type="hidden" name="_next" value="<%= url_for '/?show_message=true' %>" />
  <input type="hidden" name="_subject" value="New contact from Siderman website form" />
  <input type="submit" value="SUBMIT" class="btn" />
</form>