---
title: Gallery
---
<section class="banner">
  <%= image_tag 'gallery-header.jpg' %>
  <div class="container">
    <h1>Some Great Work</h1>
  </div>
</section>
<section class="padded">
  <h4>Check out some of our recent projects!</h4>
  <div class="container gallery-container">
    <div class="image-gallery">
    <%
      images = [
        ['1.jpg', '480x640'],
        ['2.jpg', '640x480'],
        ['3.jpg', '640x480'],
        ['4.jpg', '1500x2000'],
        ['5.jpg', '1500x1125'],
        ['6.jpg', '1500x1125'],
        ['7.jpg', '1500x1125'],
        ['8.jpg', '480x640'],
        ['9.jpg', '1500x1500'],
        ['10.jpg', '1500x1500'],
        ['11.jpg', '1500x1500'],
        ['12.jpg', '640x480']
      ]
    %>
    <% images.each_with_index do |img, i| %>
      <% link_to image_path("gallery/#{img[0]}"), data: { index: i, size: img[1] } do %>
        <%= image_tag "gallery/thumbs/#{img[0]}" %>
      <% end %>
    <% end %>
    </div>
  </div>
</section>

<%= partial '_photoswipe_gallery_container' %>