---
title: Siderman Vinyl
---

<%= partial 'carousel' %>

<section class="large-spacing black">
  <div class="container align-center-sm">
    <div class="row">
      <div class="col-md-9">
        <h2 style="margin:0;line-height:40px;">Learn more about how Siderman can save the day.</h2>
      </div>
      <div class="col-md-3 align-right">
        <a class="btn btn-lg blue" href="#">CLICK HERE!</a>
      </div>
    </div>
  </div>
</section>

<section class="large-spacing">
  <div class="container">
    <div id="home_graphic">
      <div class="top who-are-we">
        Heloo there
      </div>
      <div class="middle"><%= image_tag 'home-graphic-middle.png' %></div>
      <div class="bottom-left">
        <p>Hello</p>
      </div>
      <div class="bottom-right">
        <p>Hello</p>
      </div>
    </div>
  </div>
</section>